// styles.scss
@use "card";

.outer-card {
  margin: 20px;
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;

  .semua-fitur {
    display: flex;
    justify-content: space-between;

    .inner-card {
      @include card.base;
      width: 30%;
      margin-top: 10px;
    }
  }
}

$primary-color: #007bff;
$danger-color: #dc3545;

.containerProfil {
  margin-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.cardProfil {
  border-radius: 5px;
  margin-bottom: 50px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;

  .cardProfil-img-top {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
  }

  &-title {
    color: $primary-color;
  }

  .cardProfil-text {
    font-size: 16px;
  }

  .list-group-item {
    font-size: 14px;
  }

  .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .btn-danger {
    background-color: $danger-color;
    border-color: $danger-color;
  }
}
